force-app/main/default/flows/Invoice_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Canvas_Enrollment_Status</name>
        <label>Get Canvas Enrollment Status</label>
        <locationX>4334</locationX>
        <locationY>2486</locationY>
        <actionName>csuoee::CSUOEEMiddleware.canvasEnrollmentStatus</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Was_Response_Successful_Canvas</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>sectionReference</name>
            <value>
                <elementReference>LineItemToReview.Section_Reference__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>studentId</name>
            <value>
                <elementReference>InvoiceToReview.Noncredit_ID__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>MiddlewareActionResponse</assignToReference>
            <name>200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>GetLoginIdHttpStatus</assignToReference>
            <name>responseCode</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Enrollment_Status_in_Opus</name>
        <label>Get Enrollment Status in Opus</label>
        <locationX>3086</locationX>
        <locationY>2378</locationY>
        <actionName>csuoee::CSUOEEMiddleware.enrollmentStatus</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Was_Response_Successful</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>isCredit</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sectionReference</name>
            <value>
                <elementReference>LineItemToReview.Section_Reference__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>studentId</name>
            <value>
                <elementReference>InvoiceToReview.Noncredit_ID__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>MiddlewareActionResponse</assignToReference>
            <name>200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>GetLoginIdHttpStatus</assignToReference>
            <name>responseCode</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_User_from_Canvas</name>
        <label>Get User from Canvas</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <actionName>can_hed__GetUserByLoginOrEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Was_Get_Canvas_User_Successful</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Canvas_Get_User_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>searchTerm</name>
            <value>
                <elementReference>MiddlewareActionResponse.data.loginId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>GetLoginIdFromOpus</name>
        <label>GetLoginIdFromOpus</label>
        <locationX>512</locationX>
        <locationY>1298</locationY>
        <actionName>csuoee::CSUOEEMiddleware.getLoginForUser</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Was_Opus_Get_LoginId_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Opus_Get_Login_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>InvoiceToReview.Noncredit_ID__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>MiddlewareActionResponse</assignToReference>
            <name>200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>GetLoginIdHttpStatus</assignToReference>
            <name>responseCode</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Import_LMS_Account</name>
        <label>Import LMS Account</label>
        <locationX>50</locationX>
        <locationY>1730</locationY>
        <actionName>can_hed__ImportCanvasUsers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Canvas_User_Success</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>canvasId</name>
            <value>
                <elementReference>Get_User_from_Canvas.externalId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>InvoiceToReview.Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loginId</name>
            <value>
                <elementReference>Get_User_from_Canvas.login</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>LmsAccount</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Validate_Canvas_Enrollment</name>
        <label>Validate Canvas Enrollment</label>
        <locationX>4582</locationX>
        <locationY>2918</locationY>
        <actionName>can_hed__ValidateCanvasEnrollment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Was_Missing_Enrollment_Found</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>lmsAccountId</name>
            <value>
                <elementReference>LmsAccount.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lmsCourseTermId</name>
            <value>
                <elementReference>LMSCourseTerm.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>offeringId</name>
            <value>
                <elementReference>LineItemToReview.Course_Offering__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CanvasEnrollment</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Validate_TX_in_Middleware</name>
        <label>Validate TX in Middleware</label>
        <locationX>1898</locationX>
        <locationY>2054</locationY>
        <actionName>csuoee::CSUOEEMiddleware.postValidateTx</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>TX_Check_Status_Decision</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>MiddlewareTxRequest</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>MiddlewareActionResponse</assignToReference>
            <name>200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>GetLoginIdHttpStatus</assignToReference>
            <name>responseCode</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Canvas_Check_Error</name>
        <label>Assign Canvas Check Error</label>
        <locationX>3922</locationX>
        <locationY>2702</locationY>
        <assignmentItems>
            <assignToReference>PathMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to get update from Middleware!</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathMessageStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>BlankOutSwitcherBeforeLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LI_Check_Error</name>
        <label>Assign LI Check Error</label>
        <locationX>2954</locationX>
        <locationY>2594</locationY>
        <assignmentItems>
            <assignToReference>PathMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to get update from Opus!</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathMessageStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>BlankOutSwitcherBeforeLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TX_Check_Changed</name>
        <label>Assign TX Check Changed</label>
        <locationX>1898</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>PathMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>An update was made in Opus!</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathMessageStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>BlankOutSwitcherBeforePayments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TX_Check_Error</name>
        <label>Assign TX Check Error</label>
        <locationX>1634</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>PathMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There was an error during the request.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathMessageStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>BlankOutSwitcherBeforePayments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TX_Check_Unchanged</name>
        <label>Assign TX Check Unchanged</label>
        <locationX>2162</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>PathMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No changes were required.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathMessageStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>BlankOutSwitcherBeforePayments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TX_Request_Fields</name>
        <label>Assign TX Request Fields</label>
        <locationX>1898</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>MiddlewareTxRequest.csuTxId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedTxToReview.CSU_Trans_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MiddlewareTxRequest.processorTxId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedTxToReview.Processor_Trans_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_TX_in_Middleware</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BlankMessageAfterContact</name>
        <label>BlankMessageAfterContact</label>
        <locationX>1645</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>PathMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContactStageUserChoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BlankMessageBeforeLineItem</name>
        <label>BlankMessageBeforeLineItem</label>
        <locationX>4186</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>PathMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BlankOutSwitcherBeforeLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BlankOutSwitcherBeforeLineItems</name>
        <label>BlankOutSwitcherBeforeLineItems</label>
        <locationX>4186</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>PathSwitcher</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BlankOutSwitcherBeforePayments</name>
        <label>BlankOutSwitcherBeforePayments</label>
        <locationX>2778</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>PathSwitcher</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Payments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BlankOutSwitchersBeforContact</name>
        <label>BlankOutSwitcherBeforeContact</label>
        <locationX>1645</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>PathSwitcher</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BlankPathMessage</name>
        <label>BlankPathMessage</label>
        <locationX>2778</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>PathMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BlankOutSwitcherBeforePayments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Canvas_User_Success</name>
        <label>Canvas User Success</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>PathMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CanvasUserSuccessMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathMessageStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>BlankOutSwitchersBeforContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Logical_OR_Login_Required</name>
        <label>Logical OR Login Required</label>
        <locationX>1733</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CanvasLoginRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RunLogicalORLoginRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FutureFulfillmentRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RunLogicalORFulfillment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Line_Items_for_Confirmed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Canvas_Get_User_Error</name>
        <label>Set Canvas Get User Error</label>
        <locationX>578</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>PathMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCanvasUserFailureMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathMessageStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>BlankOutSwitchersBeforContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Drop_Parameters</name>
        <label>Set Drop Parameters</label>
        <locationX>5242</locationX>
        <locationY>2918</locationY>
        <assignmentItems>
            <assignToReference>PathMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canvas Enrollment exists but it should be dropped!</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathMessageStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>BlankOutSwitcherBeforeLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Expected_Enrollment_Valid_Status</name>
        <label>Set Expected Enrollment Valid Status</label>
        <locationX>4186</locationX>
        <locationY>2918</locationY>
        <assignmentItems>
            <assignToReference>PathMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expected Canvas Enrollment Exists!</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathMessageStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>BlankOutSwitcherBeforeLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Found_Enrollment_Results</name>
        <label>Set Found Enrollment Results</label>
        <locationX>4450</locationX>
        <locationY>3134</locationY>
        <assignmentItems>
            <assignToReference>LineItemToReview.Canvas_Enrollment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CanvasEnrollment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MissingEnrollmentFoundMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathMessageStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Line_Item_With_Enrollment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Get_Canvas_User_Failure_Message</name>
        <label>Set Get Canvas User Failure Message</label>
        <locationX>314</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>PathMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCanvasUserFailureMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathMessageStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>BlankOutSwitchersBeforContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Get_Login_Failure_Message</name>
        <label>Set Get Login Failure Message</label>
        <locationX>842</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>PathMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpusLoginIdFailureMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathMessageStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>BlankOutSwitchersBeforContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_IT_Help_Check_Status</name>
        <label>Set IT Help Check Status</label>
        <locationX>4714</locationX>
        <locationY>3134</locationY>
        <assignmentItems>
            <assignToReference>PathMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce could not find the enrollment... please ask IT for help.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathMessageStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>BlankOutSwitcherBeforeLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Line_Item_Check_Results</name>
        <label>Set Line Item Check Results</label>
        <locationX>3218</locationX>
        <locationY>2594</locationY>
        <assignmentItems>
            <assignToReference>LineItemToReview.Is_Confirmed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsConfirmedFromMiddleware</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LineItemStatusCheckMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathMessageStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Refresh_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_No_Fulfillment_Expected_Error</name>
        <label>Set No Fulfillment Expected Error</label>
        <locationX>3658</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>PathMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canvas Enrollment is not required!</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathMessageStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>info</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>BlankOutSwitcherBeforeLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_No_Line_Item_Error</name>
        <label>Set No Line Item Error</label>
        <locationX>4186</locationX>
        <locationY>4004</locationY>
        <assignmentItems>
            <assignToReference>PathMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No line item selected!</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathMessageStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>BlankOutSwitcherBeforeLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_No_Payment_Error</name>
        <label>Set No Payment Error</label>
        <locationX>2426</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>PathMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No payment selected!</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathMessageStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>BlankOutSwitcherBeforePayments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opus_Get_Login_Error</name>
        <label>Set Opus Get Login Error</label>
        <locationX>1106</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>PathMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FailedCalloutConstant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathMessageStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>error</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>BlankOutSwitchersBeforContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Request_Parameters</name>
        <label>Set Request Parameters</label>
        <locationX>4978</locationX>
        <locationY>2918</locationY>
        <assignmentItems>
            <assignToReference>PathMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canvas Enrollment was not found, but should exist - it has been requested! Please wait a moment and click &apos;Check Enrollment&apos; again.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PathMessageStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>BlankOutSwitcherBeforeLineItems</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FailedCalloutConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Failed to send query - this is most likely due to permissions.</stringValue>
        </value>
    </constants>
    <constants>
        <name>GetOpusLoginIdFailureMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Could not get Canvas login id from Opus!</stringValue>
        </value>
    </constants>
    <constants>
        <name>ReviewWelcomeMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>This flow will walk you through checking all parts of the invoice. If it is already cancelled or complete - there is nothing to do!</stringValue>
        </value>
    </constants>
    <decisions>
        <name>ContactStageUserChoice</name>
        <label>ContactStageUserChoice</label>
        <locationX>1645</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Get_Payments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>CanvasUserLookup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PathSwitcher</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CanvasUserLookup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetLoginIdFromOpus</targetReference>
            </connector>
            <label>CanvasUserLookup</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Fulfillment_Expected</name>
        <label>If Fulfillment Expected?</label>
        <locationX>3996</locationX>
        <locationY>2378</locationY>
        <defaultConnector>
            <targetReference>Get_Canvas_Enrollment_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fulfillment Expected</defaultConnectorLabel>
        <rules>
            <name>No_Fulfillment_Expected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineItemToReview.Requires_LMS_Fulfillment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_No_Fulfillment_Expected_Error</targetReference>
            </connector>
            <label>No Fulfillment Expected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_expected_Canvas_Enrollment_here</name>
        <label>Is the expected Canvas Enrollment here?</label>
        <locationX>4384</locationX>
        <locationY>2810</locationY>
        <defaultConnector>
            <targetReference>Validate_Canvas_Enrollment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Canvas Enrollment Missing</defaultConnectorLabel>
        <rules>
            <name>Canvas_Enrollment_Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CanvasEnrollment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Expected_Enrollment_Valid_Status</targetReference>
            </connector>
            <label>Canvas Enrollment Already Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>LineItemStageUserChoice</name>
        <label>LineItemStageUserChoice</label>
        <locationX>4186</locationX>
        <locationY>2162</locationY>
        <defaultConnectorLabel>Finish</defaultConnectorLabel>
        <rules>
            <name>Return_to_Payments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PathSwitcher</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ReturnToPayments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>BlankPathMessage</targetReference>
            </connector>
            <label>Return to Payments</label>
        </rules>
        <rules>
            <name>CheckOpus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PathSwitcher</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CheckOpusLineItem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_a_Line_Item_Selected</targetReference>
            </connector>
            <label>CheckOpus</label>
        </rules>
        <rules>
            <name>CheckCanvas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PathSwitcher</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CheckCanvasLineItem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_a_Line_Item_Selected_Other</targetReference>
            </connector>
            <label>CheckCanvas</label>
        </rules>
    </decisions>
    <decisions>
        <name>PaymentStageUserChoice</name>
        <label>PaymentStageUserChoice</label>
        <locationX>2778</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>BlankMessageBeforeLineItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>Return_To_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PathSwitcher</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ReturnToContact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>BlankOutSwitchersBeforContact</targetReference>
            </connector>
            <label>Return To Contact</label>
        </rules>
        <rules>
            <name>CheckTx</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PathSwitcher</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CheckTx</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_Payment_Selected</targetReference>
            </connector>
            <label>CheckTx</label>
        </rules>
    </decisions>
    <decisions>
        <name>TX_Check_Status_Decision</name>
        <label>TX Check Status Decision</label>
        <locationX>1898</locationX>
        <locationY>2162</locationY>
        <defaultConnector>
            <targetReference>Assign_TX_Check_Unchanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TX Check - Unchanged</defaultConnectorLabel>
        <rules>
            <name>TX_Check_Error</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetLoginIdHttpStatus</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>300.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLoginIdHttpStatus</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TX_Check_Error</targetReference>
            </connector>
            <label>TX Check Error</label>
        </rules>
        <rules>
            <name>TX_Check_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MiddlewareActionResponse.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TX_Check_Changed</targetReference>
            </connector>
            <label>TX Check - Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_Line_Item_Selected</name>
        <label>Was a Line Item Selected?</label>
        <locationX>3284</locationX>
        <locationY>2270</locationY>
        <defaultConnector>
            <targetReference>Set_No_Line_Item_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Line Item</defaultConnectorLabel>
        <rules>
            <name>Line_Item_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineItemToReview.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Enrollment_Status_in_Opus</targetReference>
            </connector>
            <label>Line Item Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_Line_Item_Selected_Other</name>
        <label>Was a Line Item Selected?</label>
        <locationX>4751</locationX>
        <locationY>2270</locationY>
        <defaultConnector>
            <targetReference>Set_No_Line_Item_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Line Item</defaultConnectorLabel>
        <rules>
            <name>Line_Item_Selected_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineItemToReview.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Fulfillment_Expected</targetReference>
            </connector>
            <label>Line Item Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Get_Canvas_User_Successful</name>
        <label>Was Get Canvas User Successful</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Set_Get_Canvas_User_Failure_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Canvas User Missing</defaultConnectorLabel>
        <rules>
            <name>Canvas_User_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_from_Canvas.login</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Import_LMS_Account</targetReference>
            </connector>
            <label>Canvas User Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Missing_Enrollment_Found</name>
        <label>Was Missing Enrollment Found?</label>
        <locationX>4582</locationX>
        <locationY>3026</locationY>
        <defaultConnector>
            <targetReference>Set_IT_Help_Check_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Enrollment Still Missing</defaultConnectorLabel>
        <rules>
            <name>Missing_Enrollment_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CanvasEnrollment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Found_Enrollment_Results</targetReference>
            </connector>
            <label>Missing Enrollment Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Opus_Get_LoginId_Success</name>
        <label>Was Opus Get LoginId Success?</label>
        <locationX>512</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Set_Get_Login_Failure_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opus Get Login Failure</defaultConnectorLabel>
        <rules>
            <name>Opus_Get_Login_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLoginIdHttpStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_from_Canvas</targetReference>
            </connector>
            <label>Opus Get Login Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Payment_Selected</name>
        <label>Was Payment Selected?</label>
        <locationX>2162</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>Set_No_Payment_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Payment</defaultConnectorLabel>
        <rules>
            <name>Payment_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedTxToReview.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TX_Request_Fields</targetReference>
            </connector>
            <label>Payment Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Recommendation_Request</name>
        <label>Was Recommendation Request?</label>
        <locationX>5110</locationX>
        <locationY>2810</locationY>
        <defaultConnector>
            <targetReference>Set_Drop_Parameters</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Recommended Drop</defaultConnectorLabel>
        <rules>
            <name>Recommended_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MiddlewareActionResponse.data.recommendedAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request_Enrollment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Request_Parameters</targetReference>
            </connector>
            <label>Recommended Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Response_Successful</name>
        <label>Was Response Successful?</label>
        <locationX>3086</locationX>
        <locationY>2486</locationY>
        <defaultConnector>
            <targetReference>Set_Line_Item_Check_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status Update Successful</defaultConnectorLabel>
        <rules>
            <name>LineItemStatusCheckError</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetLoginIdHttpStatus</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>300.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLoginIdHttpStatus</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MiddlewareActionResponse.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LI_Check_Error</targetReference>
            </connector>
            <label>LineItemStatusCheckError</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Response_Successful_Canvas</name>
        <label>Was Response Successful</label>
        <locationX>4334</locationX>
        <locationY>2594</locationY>
        <defaultConnector>
            <targetReference>Was_There_a_Recommended_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Canvas Enrollment Check Successful</defaultConnectorLabel>
        <rules>
            <name>CanvasEnrollmentStatusCheckError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLoginIdHttpStatus</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>300.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLoginIdHttpStatus</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Canvas_Check_Error</targetReference>
            </connector>
            <label>CanvasEnrollmentStatusCheckError</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_There_a_Recommended_Action</name>
        <label>Was There a Recommended Action?</label>
        <locationX>4747</locationX>
        <locationY>2702</locationY>
        <defaultConnector>
            <targetReference>Was_Recommendation_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Recommended Action Provided</defaultConnectorLabel>
        <rules>
            <name>Recommended_Action_None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MiddlewareActionResponse.data.recommendedAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_expected_Canvas_Enrollment_here</targetReference>
            </connector>
            <label>Recommended Action None</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CanvasLoginDisplay</name>
        <dataType>String</dataType>
        <expression>IF(({!ContactToReview.Primary_Canvas_Username__c} == &apos;&apos;), &apos;This Contact does not have a Canvas Login!&apos;, &apos;Canvas Login: &apos;&amp;{!ContactToReview.Primary_Canvas_Username__c})</expression>
    </formulas>
    <formulas>
        <name>CanvasUserSuccessMessage</name>
        <dataType>String</dataType>
        <expression>&apos;Login (&apos;&amp;{!LmsAccount.lms_hed__Primary_Login__c}&amp;&apos;) found for contact! &apos;</expression>
    </formulas>
    <formulas>
        <name>GetCanvasUserFailureMessage</name>
        <dataType>String</dataType>
        <expression>&apos;Could not find login {&apos;&amp;{!MiddlewareActionResponse.data.loginId}&amp;&apos;} in Canvas.&apos;</expression>
    </formulas>
    <formulas>
        <name>IsCanvasLookinDisabled</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!ContactToReview.Primary_Canvas_Username__c})&gt;0</expression>
    </formulas>
    <formulas>
        <name>IsConfirmedFromMiddleware</name>
        <dataType>Boolean</dataType>
        <expression>{!MiddlewareActionResponse.data.status}=&apos;Confirmed&apos;</expression>
    </formulas>
    <formulas>
        <name>IsPathMessageSet</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!PathMessage})&gt;0</expression>
    </formulas>
    <formulas>
        <name>LineItemStatusCheckMessage</name>
        <dataType>String</dataType>
        <expression>&apos;Got status of &apos;&amp;{!MiddlewareActionResponse.data.status}&amp;&apos; back from Opus.&apos;</expression>
    </formulas>
    <formulas>
        <name>MiddlewareTXCheckStatus</name>
        <dataType>String</dataType>
        <expression>IF({!MiddlewareActionResponse.success}, &apos;success&apos;, &apos;error&apos;)</expression>
    </formulas>
    <formulas>
        <name>MissingEnrollmentFoundMessage</name>
        <dataType>String</dataType>
        <expression>&apos;Canvas Enrollment for line item was missing, but has been found and updated.&apos;</expression>
    </formulas>
    <formulas>
        <name>PathMessageStickiness</name>
        <dataType>String</dataType>
        <expression>IF({!PathMessageStatus}=&apos;error&apos;, &apos;sticky&apos;, &apos;dismissable&apos;)</expression>
    </formulas>
    <formulas>
        <name>RunLogicalORFulfillment</name>
        <dataType>Boolean</dataType>
        <expression>{!FutureFulfillmentRequired}||{!Review_Line_Items_for_Confirmed.Requires_LMS_Fulfillment__c}</expression>
    </formulas>
    <formulas>
        <name>RunLogicalORLoginRequired</name>
        <dataType>Boolean</dataType>
        <expression>{!CanvasLoginRequired}||({!Review_Line_Items_for_Confirmed.Is_Confirmed__c}&amp;&amp;{!Review_Line_Items_for_Confirmed.Requires_LMS_Fulfillment__c})</expression>
    </formulas>
    <interviewLabel>Invoice Review - {!InvoiceToReview.Invoice_Number__c}</interviewLabel>
    <label>Invoice Review</label>
    <loops>
        <name>Review_Line_Items_for_Confirmed</name>
        <label>Review Line Items for Confirmed</label>
        <locationX>1645</locationX>
        <locationY>566</locationY>
        <collectionReference>InvoiceLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Logical_OR_Login_Required</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>BlankOutSwitchersBeforContact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Line_Items</name>
        <label>Get Line Items</label>
        <locationX>1645</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Review_Line_Items_for_Confirmed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Noncredit_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceToReview.Id</elementReference>
            </value>
        </filters>
        <object>Noncredit_Invoice_Line_Item__c</object>
        <outputReference>InvoiceLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Section_Reference__c</queriedFields>
        <queriedFields>Is_Confirmed__c</queriedFields>
        <queriedFields>Requires_LMS_Fulfillment__c</queriedFields>
        <sortField>Section_Reference__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Payments</name>
        <label>Get Payments</label>
        <locationX>2778</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BlankPathMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Noncredit_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceToReview.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Noncredit_Invoice_Payment__c</object>
        <sortField>CSU_Trans_Id__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Load_Contact_Data</name>
        <label>Load Contact Data</label>
        <locationX>1645</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceToReview.Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactToReview</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Primary_Canvas_Username__c</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Load_Required_Invoice_Data</name>
        <label>Load Required Invoice Data</label>
        <locationX>1645</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ReviewWelcomeScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceId</elementReference>
            </value>
        </filters>
        <object>Noncredit_Invoice__c</object>
        <outputReference>InvoiceToReview</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Invoice_Number__c</queriedFields>
        <queriedFields>Total_Paid__c</queriedFields>
        <queriedFields>Total_Amount__c</queriedFields>
        <queriedFields>Noncredit_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Refresh_Line_Items</name>
        <label>Refresh Line Items</label>
        <locationX>3218</locationX>
        <locationY>2702</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>BlankOutSwitcherBeforeLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Noncredit_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceToReview.Id</elementReference>
            </value>
        </filters>
        <object>Noncredit_Invoice_Line_Item__c</object>
        <outputReference>InvoiceLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Section_Reference__c</queriedFields>
        <queriedFields>Is_Confirmed__c</queriedFields>
        <queriedFields>Requires_LMS_Fulfillment__c</queriedFields>
        <sortField>Section_Reference__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Save_Line_Item_With_Enrollment</name>
        <label>Save Line Item With Enrollment</label>
        <locationX>4450</locationX>
        <locationY>3242</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Refresh_Line_Items</targetReference>
        </connector>
        <inputReference>LineItemToReview</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Review_Contact</name>
        <label>Review Contact</label>
        <locationX>1645</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BlankMessageAfterContact</targetReference>
        </connector>
        <fields>
            <name>Review_Contact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Review_Contact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Student_Display</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>firstName</name>
                        <value>
                            <elementReference>ContactToReview.FirstName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>lastName</name>
                        <value>
                            <elementReference>ContactToReview.LastName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Student Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Login_Screen_Display</name>
                    <fieldText>&lt;p&gt;{!CanvasLoginDisplay}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Contact_Chooser_Bank</name>
            <extensionName>csuoee:chooserBank2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>variant2</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel1</name>
                <value>
                    <stringValue>Lookup Canvas User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel2</name>
                <value>
                    <stringValue>Review Payments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisabled1</name>
                <value>
                    <elementReference>IsCanvasLookinDisabled</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>switcherValue1</name>
                <value>
                    <stringValue>CanvasUserLookup</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PathSwitcher</assignToReference>
                <name>switcher1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PathSwitcher</assignToReference>
                <name>switcher2</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Contact_Screen_Toast</name>
            <extensionName>csuoee:routeMessageToToastEvent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>PathMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>show</name>
                <value>
                    <elementReference>IsPathMessageSet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Canvas Account Action</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <elementReference>PathMessageStatus</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <elementReference>PathMessageStickiness</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Line_Items</name>
        <label>Review Line Items</label>
        <locationX>4186</locationX>
        <locationY>2054</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LineItemStageUserChoice</targetReference>
        </connector>
        <fields>
            <name>Line_Item_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Noncredit_Invoice_Line_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>InvoiceLineItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;csuoee__Line_Item_ID__c&quot;,&quot;guid&quot;:&quot;column-d371&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Line Item ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;csuoee__Section_Reference__c&quot;,&quot;guid&quot;:&quot;column-0fe4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Section Reference&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;csuoee__Is_Confirmed__c&quot;,&quot;guid&quot;:&quot;column-a6fa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Is Confirmed&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;csuoee__Is_Fulfilled__c&quot;,&quot;guid&quot;:&quot;column-1a13&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Is Fulfilled&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;csuoee__Is_Dropped__c&quot;,&quot;guid&quot;:&quot;column-6a10&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Is Dropped&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>LineItemToReview</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Line_Item_Buttons</name>
            <extensionName>csuoee:chooserBank4</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel1</name>
                <value>
                    <stringValue>Return to Payments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel2</name>
                <value>
                    <stringValue>Check Opus Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel3</name>
                <value>
                    <stringValue>Check Canvas Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel4</name>
                <value>
                    <stringValue>Complete Review</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant4</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFinish4</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>switcherValue1</name>
                <value>
                    <stringValue>ReturnToPayments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>switcherValue2</name>
                <value>
                    <stringValue>CheckOpusLineItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>switcherValue3</name>
                <value>
                    <stringValue>CheckCanvasLineItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>switcherValue4</name>
                <value>
                    <stringValue>Finish</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PathSwitcher</assignToReference>
                <name>switcher1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PathSwitcher</assignToReference>
                <name>switcher3</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PathSwitcher</assignToReference>
                <name>switcher2</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Line_Item_Toast</name>
            <extensionName>csuoee:routeMessageToToastEvent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>PathMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <elementReference>PathMessageStickiness</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>show</name>
                <value>
                    <elementReference>IsPathMessageSet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Line Item Review</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <elementReference>PathMessageStatus</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Payments</name>
        <label>Review Payments</label>
        <locationX>2778</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PaymentStageUserChoice</targetReference>
        </connector>
        <fields>
            <name>Invoice_Payments</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Noncredit_Invoice_Payment__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Payments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Payments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;csuoee__CSU_Trans_Id__c&quot;,&quot;guid&quot;:&quot;column-2ea0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;CSU Trans Id&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;csuoee__Processor_Trans_Id__c&quot;,&quot;guid&quot;:&quot;column-647b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Processor Trans Id&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;csuoee__Successful__c&quot;,&quot;guid&quot;:&quot;column-e75b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Successful&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;csuoee__Amount__c&quot;,&quot;guid&quot;:&quot;column-bf36&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-6c01&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedTxToReview</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Payment_Button_Bank</name>
            <extensionName>csuoee:chooserBank3</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel1</name>
                <value>
                    <stringValue>Return to Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel2</name>
                <value>
                    <stringValue>Check Selected Transaction</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel3</name>
                <value>
                    <stringValue>Review Line Items</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant3</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>switcherValue3</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>switcherValue2</name>
                <value>
                    <stringValue>CheckTx</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>switcherValue1</name>
                <value>
                    <stringValue>ReturnToContact</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PathSwitcher</assignToReference>
                <name>switcher1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PathSwitcher</assignToReference>
                <name>switcher2</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Toast_Payments</name>
            <extensionName>csuoee:routeMessageToToastEvent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>PathMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <elementReference>PathMessageStatus</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Invoice Payments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <elementReference>PathMessageStickiness</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>show</name>
                <value>
                    <elementReference>IsPathMessageSet</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ReviewWelcomeScreen</name>
        <label>ReviewWelcomeScreen</label>
        <locationX>1645</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Load_Contact_Data</targetReference>
        </connector>
        <fields>
            <name>ReviewWelcomeMessageDisp</name>
            <fieldText>&lt;p&gt;{!ReviewWelcomeMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1519</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Load_Required_Invoice_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CanvasEnrollment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>lms_hed__LMS_Course_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>CanvasLoginRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ContactToReview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>FutureFulfillmentRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>GetLoginIdHttpStatus</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>InvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Noncredit_Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>InvoiceToReview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Noncredit_Invoice__c</objectType>
    </variables>
    <variables>
        <name>LineItemToReview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Noncredit_Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>LmsAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>lms_hed__LMS_Account__c</objectType>
    </variables>
    <variables>
        <name>LMSCourseTerm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>lms_hed__LMS_Course_Term__c</objectType>
    </variables>
    <variables>
        <name>MiddlewareActionResponse</name>
        <apexClass>ExternalService__csuoee__CSUOEEMiddleware_ActionResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MiddlewareTxRequest</name>
        <apexClass>ExternalService__csuoee__CSUOEEMiddleware_TxRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Message based on the chosen path.</description>
        <name>PathMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PathMessageStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>info</stringValue>
        </value>
    </variables>
    <variables>
        <name>PathSwitcher</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedTxToReview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Noncredit_Invoice_Payment__c</objectType>
    </variables>
</Flow>
