force-app/main/default/flows/Lookup_Offering_For_Line_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Is_Credit_Field</name>
        <label>Set Is Credit Field</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.csuoee__Is_Credit_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsCreditCourseType</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Found_an_Offering</name>
        <label>Found an Offering?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Offering Missing</defaultConnectorLabel>
        <rules>
            <name>Offering_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.csuoee__Course_Offering__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Course</targetReference>
            </connector>
            <label>Offering Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsCreditCourseType</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_RecordType.DeveloperName}=&apos;Credit&apos;</expression>
    </formulas>
    <interviewLabel>Lookup Offering For Line Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lookup Offering For Line Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get RecordType</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Is_Credit_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FoundCourseRecordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Course</name>
        <label>Get Related Course</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FoundCourseId</elementReference>
            </value>
        </filters>
        <object>hed__Course__c</object>
        <outputAssignments>
            <assignToReference>$Record.csuoee__Is_Open_Entry_Line_Item__c</assignToReference>
            <field>Open_Entry__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCourseRecordType</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Offering</name>
        <label>Lookup Offering</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_an_Offering</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>lms_hed__LMS_Reference_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Section_Reference__c</elementReference>
            </value>
        </filters>
        <object>hed__Course_Offering__c</object>
        <outputAssignments>
            <assignToReference>$Record.csuoee__Course_Offering__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>$Record.csuoee__Requires_LMS_Fulfillment__c</assignToReference>
            <field>Requires_Canvas__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FoundCourseId</assignToReference>
            <field>hed__Course__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lookup_Offering</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Offering__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Noncredit_Invoice_Line_Item__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FoundCourseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FoundCourseRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
