force-app/main/default/flows/Mark_Invoice_to_Void.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fire_Registration_Cancel</name>
        <label>Fire Registration Cancel</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <actionName>PERegistrationCancelEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>reason</name>
            <value>
                <stringValue>Time to void expired.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>regId</name>
            <value>
                <elementReference>MarkedInvoice.Registration_Id__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Is_Required_Invoice_Set</name>
        <label>Is Required Invoice Set?</label>
        <locationX>468</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Invoice not Set</defaultConnectorLabel>
        <rules>
            <name>Invoice_is_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MarkedInvoice.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_for_Invoice_Void</targetReference>
            </connector>
            <label>Invoice is Set</label>
        </rules>
    </decisions>
    <description>Cancel invoice after specified time or default (7 days).</description>
    <environments>Default</environments>
    <interviewLabel>Mark Invoice to Void {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mark Invoice to Void</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Ensure_Invoice_not_Cancelled</name>
        <label>Ensure Invoice not Cancelled</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MarkedInvoice.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Cancelled__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Noncredit_Invoice__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Required_Invoice_Set</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>MarkedInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Noncredit_Invoice__c</objectType>
    </variables>
    <waits>
        <name>Wait_for_Invoice_Void</name>
        <label>Wait for Invoice Void</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Cancel_Void</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Ensure_Invoice_not_Cancelled</targetReference>
            </connector>
            <eventType>csuoee__Flow_Cancel__e</eventType>
            <inputParameters>
                <name>csuoee__Cancel_Type__c</name>
                <value>
                    <stringValue>Invoice Void Cancel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>csuoee__Cancel_Identifier__c</name>
                <value>
                    <elementReference>MarkedInvoice.Id</elementReference>
                </value>
            </inputParameters>
            <label>Cancel Void - Record ID</label>
        </waitEvents>
        <waitEvents>
            <name>Cancel_Void_Invoice_Number</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Ensure_Invoice_not_Cancelled</targetReference>
            </connector>
            <eventType>csuoee__Flow_Cancel__e</eventType>
            <inputParameters>
                <name>csuoee__Cancel_Type__c</name>
                <value>
                    <stringValue>Invoice Void Cancel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>csuoee__Cancel_Identifier__c</name>
                <value>
                    <elementReference>MarkedInvoice.Invoice_Number__c</elementReference>
                </value>
            </inputParameters>
            <label>Cancel Void - Invoice Number</label>
        </waitEvents>
        <waitEvents>
            <name>Time_Expired</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Fire_Registration_Cancel</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>7.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>Time Expired</label>
        </waitEvents>
    </waits>
</Flow>
