force-app/main/default/flows/Noncredit_Line_Item_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Aging_Invoice_Warning</name>
        <label>Aging Invoice Warning</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>PEHumanRequiredErrorEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>errorType</name>
            <value>
                <stringValue>Invoice</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>AgingInvoiceWarning</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Deserialize_Course_Enrollment</name>
        <label>Deserialize Course Enrollment</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <actionName>JsonDecode</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Applies_to_this_Line_Item</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>lms_hed__LMS_Course_Enrollment__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>RecordCreatedEvent.JsonValue__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>LmsCourseEnrollmentType</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>DeserializedLmsCourseEnrollment</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Canvas_Account</name>
        <label>Get Canvas Account</label>
        <locationX>864</locationX>
        <locationY>674</locationY>
        <actionName>lms_hed__LMSSettingsController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Await_Fulfillment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>schoolCode</name>
            <value>
                <elementReference>CanvasLMSName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>LMSBusinessAccount</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Fulfillment_Missing_Error</name>
        <label>Send Fulfillment Missing Error</label>
        <locationX>1018</locationX>
        <locationY>890</locationY>
        <actionName>PEHumanRequiredErrorEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Await_Fulfillment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>errorType</name>
            <value>
                <stringValue>Invoice</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>DayLateWarning</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <constants>
        <name>CanvasLMSName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Canvas</stringValue>
        </value>
    </constants>
    <constants>
        <name>LmsCourseEnrollmentType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>lms_hed__LMS_Course_Enrollment__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>NoncreditLineItemType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>csuoee__Noncredit_Invoice_Line_Item__c</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Applies_to_this_Line_Item</name>
        <label>Applies to this Line Item?</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Await_Fulfillment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Enrollment Does Not Match</defaultConnectorLabel>
        <rules>
            <name>Enrollment_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeserializedLmsCourseEnrollment.lms_hed__Course_Offering__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LineItemInProgress.Course_Offering__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DeserializedLmsCourseEnrollment.lms_hed__LMS_Account__r.lms_hed__LMS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LMSBusinessAccount.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DeserializedLmsCourseEnrollment.lms_hed__LMS_Account__r.Noncredit_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LineItemInProgress.Noncredit_Invoice__r.Noncredit_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fulfilled</targetReference>
            </connector>
            <label>Enrollment Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Line_Item_Require_Fulfillment</name>
        <label>Does Line Item Require Fulfillment?</label>
        <locationX>1205</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>No Fulfillment Required</defaultConnectorLabel>
        <rules>
            <name>Fulfillment_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineItemInProgress.Requires_LMS_Fulfillment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Canvas_Account</targetReference>
            </connector>
            <label>Fulfillment Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_valid_start</name>
        <label>Is this a valid start?</label>
        <locationX>1766</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Line Item Missing</defaultConnectorLabel>
        <rules>
            <name>Line_Item_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineItemInProgress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Await_Confirmation</targetReference>
            </connector>
            <label>Line Item Available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AgingInvoiceWarning</name>
        <dataType>String</dataType>
        <expression>{!LineItemInProgress.Noncredit_Invoice__r.Invoice_Number__c}&amp;&apos; has line item &apos;&amp; {!LineItemInProgress.Section_Reference__c}&amp;&apos; that has been idle for 28 days.&apos;</expression>
    </formulas>
    <formulas>
        <name>DayLateWarning</name>
        <dataType>String</dataType>
        <expression>{!LineItemInProgress.Noncredit_Invoice__r.Invoice_Number__c}&amp;&apos; has a line item that requires fulfillment but has been idle for a day: &apos;&amp;{!LineItemInProgress.Section_Reference__c}</expression>
    </formulas>
    <interviewLabel>Line Item for [Invoice: {!LineItemInProgress.Noncredit_Invoice__r.Invoice_Number__c}, Section: {!LineItemInProgress.Section_Reference__c}]</interviewLabel>
    <label>Noncredit Line Item Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Refresh_Line_Item</name>
        <label>Refresh Line Item</label>
        <locationX>1205</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Line_Item_Require_Fulfillment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LineItemInProgress.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Noncredit_Invoice_Line_Item__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Is_Fulfilled__c</queriedFields>
        <queriedFields>Requires_LMS_Fulfillment__c</queriedFields>
        <queriedFields>Canvas_Enrollment__c</queriedFields>
        <queriedFields>Course_Offering__c</queriedFields>
        <queriedFields>Is_Actual__c</queriedFields>
        <queriedFields>Is_Confirmed__c</queriedFields>
        <queriedFields>Is_Credit_Line_Item__c</queriedFields>
        <queriedFields>Line_Item_Amount__c</queriedFields>
        <queriedFields>Noncredit_Invoice__c</queriedFields>
        <queriedFields>Section_Reference__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Cancel_Line_Item</name>
        <label>Cancel Line Item</label>
        <locationX>1106</locationX>
        <locationY>1658</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LineItemInProgress.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Confirmed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Noncredit_Invoice_Line_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Confirm_Line_Item</name>
        <label>Confirm Line Item</label>
        <locationX>1205</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Refresh_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LineItemInProgress.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Confirmed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Noncredit_Invoice_Line_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Fulfilled</name>
        <label>Set Fulfilled</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LineItemInProgress.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Canvas_Enrollment__c</field>
            <value>
                <elementReference>DeserializedLmsCourseEnrollment.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Noncredit_Invoice_Line_Item__c</object>
    </recordUpdates>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_this_a_valid_start</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DeserializedLmsCourseEnrollment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>lms_hed__LMS_Course_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>FulfillmentWaitStartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>LineItemInProgress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Noncredit_Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>LMSBusinessAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>LmsCompletedEnrollment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>lms_hed__LMS_Enrollment_Creation__e</objectType>
    </variables>
    <variables>
        <name>RecordCreatedEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Record_Create__e</objectType>
    </variables>
    <waits>
        <description>Waiting for Confirmation Event.</description>
        <name>Await_Confirmation</name>
        <label>Await Confirmation</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Does_Line_Item_Require_Fulfillment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOOP</defaultConnectorLabel>
        <waitEvents>
            <name>Confirmation_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineItemInProgress.Is_Confirmed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aging_Invoice_Warning</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>28.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>Confirmation Expired</label>
        </waitEvents>
        <waitEvents>
            <name>Confirmation_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineItemInProgress.Is_Confirmed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Line_Item</targetReference>
            </connector>
            <eventType>csuoee__Confirmation_Publish__e</eventType>
            <inputParameters>
                <name>csuoee__Section_Reference__c</name>
                <value>
                    <elementReference>LineItemInProgress.Section_Reference__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>csuoee__User_Id__c</name>
                <value>
                    <elementReference>LineItemInProgress.Noncredit_Invoice__r.Noncredit_ID__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>csuoee__Is_Drop__c</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <label>Confirmation Received</label>
        </waitEvents>
        <waitEvents>
            <name>Drop_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineItemInProgress.Is_Confirmed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Line_Item</targetReference>
            </connector>
            <eventType>csuoee__Confirmation_Publish__e</eventType>
            <inputParameters>
                <name>csuoee__Section_Reference__c</name>
                <value>
                    <elementReference>LineItemInProgress.Section_Reference__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>csuoee__User_Id__c</name>
                <value>
                    <elementReference>LineItemInProgress.Noncredit_Invoice__r.Noncredit_ID__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>csuoee__Is_Drop__c</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <label>Drop Received</label>
        </waitEvents>
        <waitEvents>
            <name>Invoice_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineItemInProgress.Is_Confirmed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Line_Item</targetReference>
            </connector>
            <eventType>csuoee__Flow_Cancel__e</eventType>
            <inputParameters>
                <name>csuoee__Cancel_Type__c</name>
                <value>
                    <stringValue>Invoice Cancel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>csuoee__Cancel_Identifier__c</name>
                <value>
                    <elementReference>LineItemInProgress.Noncredit_Invoice__c</elementReference>
                </value>
            </inputParameters>
            <label>Invoice Cancelled</label>
        </waitEvents>
    </waits>
    <waits>
        <description>Waiting for Canvas Enrollment.</description>
        <name>Await_Fulfillment</name>
        <label>Await Fulfillment</label>
        <locationX>864</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>NOOP</defaultConnectorLabel>
        <waitEvents>
            <name>Fulfillment_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineItemInProgress.Is_Fulfilled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deserialize_Course_Enrollment</targetReference>
            </connector>
            <eventType>csuoee__Record_Create__e</eventType>
            <inputParameters>
                <name>csuoee__Object_Type__c</name>
                <value>
                    <elementReference>NoncreditLineItemType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>csuoee__IdOrExternalId1__c</name>
                <value>
                    <elementReference>LineItemInProgress.Noncredit_Invoice__r.Noncredit_ID__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>csuoee__IdOrExternalId2__c</name>
                <value>
                    <elementReference>LineItemInProgress.Section_Reference__c</elementReference>
                </value>
            </inputParameters>
            <label>Fulfillment Received</label>
            <outputParameters>
                <assignToReference>RecordCreatedEvent</assignToReference>
                <name>csuoee__Record_Create__e</name>
            </outputParameters>
        </waitEvents>
        <waitEvents>
            <name>Invoice_Cancelled_for_Line_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineItemInProgress.Is_Fulfilled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Line_Item</targetReference>
            </connector>
            <eventType>csuoee__Flow_Cancel__e</eventType>
            <inputParameters>
                <name>csuoee__Cancel_Type__c</name>
                <value>
                    <stringValue>Invoice Cancel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>csuoee__Cancel_Identifier__c</name>
                <value>
                    <elementReference>LineItemInProgress.Noncredit_Invoice__c</elementReference>
                </value>
            </inputParameters>
            <label>Invoice Cancelled</label>
        </waitEvents>
        <waitEvents>
            <name>X1_Day_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineItemInProgress.Is_Fulfilled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Fulfillment_Missing_Error</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>FulfillmentWaitStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>1 Day Passed</label>
        </waitEvents>
    </waits>
</Flow>
