force-app/main/default/flows/Set_Invoice_Relationships.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <constants>
        <name>BusinessOrgRecordTypeApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Business_Organization</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Account_Already_Set</name>
        <label>Is Account Already Set?</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Payer Account Already Set</defaultConnectorLabel>
        <rules>
            <name>Payer_Account_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.csuoee__Payer_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attempt_Contact_Lookup</targetReference>
            </connector>
            <label>Payer Account Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_NoncreditId_a_Contact</name>
        <label>Was NoncreditId a Contact?</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Contact Is Set</defaultConnectorLabel>
        <rules>
            <name>Contact_Not_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.csuoee__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Business_Organization_Record_Type_Id</targetReference>
            </connector>
            <label>Contact Not Set</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Set Invoice Relationships {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Invoice Relationships</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Attempt_Account_Lookup</name>
        <label>Attempt Account Lookup</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__School_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Noncredit_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Business_Organization_Record_Type_Id.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>$Record.csuoee__Payer_Account__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Attempt_Contact_Lookup</name>
        <label>Attempt Contact Lookup</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_NoncreditId_a_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Noncredit_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Noncredit_ID__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>$Record.csuoee__Payer_Account__c</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>$Record.csuoee__Contact__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_Organization_Record_Type_Id</name>
        <label>Get Business Organization Record Type Id</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Attempt_Account_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessOrgRecordTypeApiName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Account_Already_Set</targetReference>
        </connector>
        <object>Noncredit_Invoice__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
